name: Dev Build
on:
  push:
    branches: [ '*' ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/wrapper-validation-action@v1
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - run: ./gradlew build --stacktrace --no-daemon
      - uses: actions/upload-artifact@v3
        with:
          name: Artifacts from ${{ github.sha }}
          path: build/libs
